
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin - Home</title>
</head>
<body>

<h1>Home</h1>
<p>Hi!</p>
<p>
    Xin chào: <b><span sec:authentication="name"></span></b>
    ([<span sec:authentication="principal.authorities"></span>])
    | <a th:href="@{/logout}">Logout</a>
</p>
<p>
    <a th:href="@{/admin}">Home</a>
    <a th:href="@{/admin/products}">Quản lý sản phẩm</a> |
    <a th:href="@{/customer/all}">/customer/all</a>
</p>


</body>
</html>
