<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Please sign in</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Please sign in</h1>

<!-- Thông báo -->
<div th:if="${param.error}" style="color:red;">Sai tài khoản/mật khẩu.</div>
<div th:if="${param.logout}" style="color:green;">Đã đăng xuất.</div>

<form th:action="@{/login}" method="post">
    <label>Username
        <input type="text" name="username" autofocus/>
    </label>
    <label>Password
        <input type="password" name="password"/>
    </label>
    <button type="submit">Sign in</button>
</form>
</body>
</html>
