
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User - Home</title>
</head>
<body>

<h1>Home</h1>
<p>Hi!</p>
<p>
    Xin chào: <b><span sec:authentication="name"></span></b>
    ([<span sec:authentication="principal.authorities"></span>])
    | <a th:href="@{/logout}">Logout</a>
</p>
<p>
    <a th:href="@{/user}">Home</a> |
    <a th:href="@{/customer/001}">/customer/001</a>
    <a th:href="@{/customer/002}">/customer/002</a>
</p>


</body>
</html>
